html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#images {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: scroll;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#images::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#images img {
    position: absolute;
    opacity: 0;

    -webkit-transition: all 1s 0s ease;
    -moz-transition: all 1s 0s ease;
    -o-transition: all 1s 0s ease;
    transition: all 1s 0s ease;
    transition-property: opacity;
}

#images img.visible {
    opacity: 1;
}

/* Change the initial page background color based on user theme */
@media (prefers-color-scheme: dark) {
    body {
        background: #666;
    }
}
@media (prefers-color-scheme: light) {
    body {
        background: #CCC;
    }
}

#banner {
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 900001;
    padding: 0.5em;

    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: sans-serif;
    font-size: 2em;

    /* Make text unselectable */
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#banner > * {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
#banner, #banner * {
    display: flex;
    align-items: center;
}
#banner .minute {
    margin-left: 0.1em;
    opacity: 0.5;
}

#clock .hour {
    font-weight: bold;
}

#sunriset {
    font-size: 0.8em;
}
#sunriset .icon {
    height: 0.8em;
    margin-right: 0.5em;
}

/* Make the banner larger on larger displays */
@media screen and (min-width: 1536px) {
    #banner {
        font-size: 3.5em;
    }
}

/* Chromecast via AutoTask reports a browser height of 10000px, so... fixes */
body.chromecast {
    position: absolute;
    top: 992px;
}
body.chromecast, body.chromecast #images {
    width: 1280px;
    height: 720px;
}
body.chromecast #banner {
    top: calc(1712px - 3em); /* top margin + screen height - banner size - 1em */
    bottom: unset;
    background-color: rgba(0, 0, 0, 0.5);
}
